@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HR Application Tool</h1>
    <p class="lead">Login to use the admin features (user: admin  password:Password1!).</p>
    @Html.RouteLink("Send an Application", new { action = "Create", controller = "Application" }, new { @class = "btn btn-primary btn-large" })
</div>

