@model HRApplicationTool.Models.ToolConfiguration

@{
    ViewBag.Title = "Registration Closed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Sorry</h1>
    <p class="lead">The registration can be submitted only between @Model.StartHour:@Model.StartMin and @Model.EndHour:@Model.EndMin</p>
     @Html.RouteLink("Return Home", new { action = "Index", controller = "Home" },new { @class="btn btn-primary btn-large" })
</div>